<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-success">
            <h4 class="card-title">Mac Address Distribution</h4>
        </div>
        <p>{{name}}</p>
        <div #container (click)="treeClicked($event)">

        </div>
        <mat-slider color="primary"
                    (onChange)="sliderValueChanged($event.value)"
                    (input)="someValue = $event.value"
                    [value]="someValue"
                    thumbLabel
                    [displayWith]="formatLabel"
                    tickInterval="1"
                    min="1"
                    max="24"></mat-slider>

        <p> {{ someValue }} HRS </p>

        <div class="card-body">
            <div id="typography">
                <div class="card-title">
                    <h2>Mac Address Distribution</h2>
                </div>
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</div>
